# django-simple-help
# MANIFEST.in

include README.rst
include MIT-LICENSE
include AUTHORS
include simple_help/templates/simple_help/includes/help_button.html
include simple_help/templates/simple_help/includes/help_dialog.html
include simple_help/locale/en/LC_MESSAGES/django.po
include simple_help/locale/en/LC_MESSAGES/django.mo
include simple_help/locale/ru/LC_MESSAGES/django.po
include simple_help/locale/ru/LC_MESSAGES/django.mo
include simple_help/locale/uk/LC_MESSAGES/django.po
include simple_help/locale/uk/LC_MESSAGES/django.mo
include simple_help/locale/zh_CN/LC_MESSAGES/django.po
include simple_help/locale/zh_CN/LC_MESSAGES/django.mo
